<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;
        }
        button{
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Chunking</h1>
    <form action="" method="post">
        {%csrf_token%}
        <input type="file" name="file-field" id="file-field">
        
        <button type="submit">ENVIAR</button>
    </form>
    
</body>
</html>